<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Server Socket chat Application</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js"></script>

  </head>
  <body>
          <h1>Socket io chat Application</h1>

          <script src="/chat.js"></script>
  </body>
</html>
